@import '../../BaseStyles/Variables.module.scss';
@import '../../BaseStyles/Mixins.module.scss';

.Profile {
  @include cardDesign;
  justify-content: flex-start;
  position: relative;
}

.Profile__WrapperPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.Profile__Photo {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-right: 20px;
}

.Profile__InputFile {
  display: none;
}

.Profile__Label {
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.Profile__ShortInfo {
  h2 {
    margin-bottom: 5px;
  }

  p {
    @include small-text;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.Profile__Header,
.Profile__Job,
.Profile__Info {
  display: flex;
}

.Profile__Wrapper {
  flex-grow: 1;
  min-height: 300px;
}

.Profile__ShortInfo,
.Profile__Job,
.Profile__About,
.Profile__Contacts {
  width: calc((100% - 20px)/2);
  min-height: 150px;
  box-sizing: border-box;
}

.Profile__Job {
  padding-right: 35px;
}

.Profile__ShortInfo,
.Profile__About {
  margin-right: 20px;
}

.Profile__JobIcon {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.Profile__About {
  h4 {
    margin-top: 0;
    margin-bottom: 5px
  }

  p {
    margin: 0
  }
}

.Profile__Contacts {
  display: flex;
  justify-content: flex-end;

  ul {
    @include list-reset;
    display: flex;
    margin-top: auto;

    li:not(:last-child) {
      margin-right: 7px;
    }
  }
}

.Profile__EditWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Profile__ButtonEdit {
  background-color: $light-gold;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;

  &:hover {
    background-color: $mango;
  }

  &:hover + div {
    display: block;
  }
}

.Profile__IconEdit {
  width: 15px;
}

.Profile__Tooltip {
  position: absolute;
  display: none;
  top: -35px;
  right: -5px;
  font-size: 16px;
  width: 100px;
  background-color: $dark-blue-grey;
}