@import '../../BaseStyles/Variables.module.scss';
@import '../../BaseStyles/Mixins.module.scss';

.Profile {
  @include cardDesign;
  justify-content: flex-start;
}

.Profile__Photo {
  width: 300px;
  height: 300px;
  border-radius: 30px; 
  margin-right: 20px;
}

.Profile__ShortInfo {
  h2 {
    margin-bottom: 5px;
  }
  p {
    @include small-text;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.Profile__Header,
.Profile__Job,
.Profile__Info {
  display: flex;
}

.Profile__Wrapper {
  flex-grow: 1;
  min-height: 300px;
}

.Profile__ShortInfo,
.Profile__Job,
.Profile__About,
.Profile__Contacts {
  width: calc((100% - 20px)/2);
  min-height: 150px;
}

.Profile__ShortInfo,
.Profile__About {
  margin-right: 20px;
}

.Profile__JobIcon {
  width: 75px;
  height: 75px;
}

.Profile__About {
  h4 {
    margin-top: 0;
    margin-bottom: 5px
  }

  p {
    margin: 0
  }
}

.Profile__Contacts {
  display: flex;
  justify-content: flex-end;

  ul {
    @include list-reset ;
    display: flex;
    margin-top: auto;

    li:not(:last-child) {
      margin-right: 7px;
    }
  }
}