@import '../../../BaseStyles/Variables.module.scss';

.DialogItem__Link {
  color: $light-gold;
  text-decoration: none;

  &:hover {
    color: $mango;
  }
}

.DialogItem__LinkActive {
  color: $light-gold;
}

.DialogItem__Img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}